<div id="collage">
  <h2 style="text-align: center">Image Puzzle</h2>
  <hr />

  <div class="buttonsHeader">
  <div class="actionButtonContainer">
    <button mat-raised-button class="actionButton" (click)="handleUnscramble()">
      Unscramble
    </button>

    <button mat-raised-button class="actionButton" (click)="handleScramble()"
            style="background-color: green; color: white">
      Scramble
    </button>
  </div>
  </div>
  <div id="playPanel" style="padding:5px;display:none;">
    <h3 id="imgTitle"></h3>
    <hr />
    <div style="display:inline-block; margin:auto; width:95%; vertical-align:top;">
      <ul id="sortable" class="sortable"></ul>
      <div id="actualImageBox">
<!--        <div id="stepBox">-->
<!--          <div>Steps:</div>-->
<!--          <div id="stepCount" class="stepCount">0</div>-->
<!--        </div>-->
        <div id="timeBox">
          Time Taken: <span id="timerPanel"></span> secs
        </div>
        <img id="actualImage" />
        <div>Re-arrange to create a picture like this.</div>
      </div>
    </div>
  </div>
  <div id="gameOver" style="display:none;">
    <div style="background-color: #fc9e9e; padding: 5px 10px 20px 10px; text-align: center; ">
      <h2 style="text-align:center">Game Over!!</h2>
      Congratulations!! <br /> You have completed this picture.
      <br /> Steps: <span id="stepCount" class="stepCount">0</span> steps.
      <br /> Time Taken: <span class="timeCount">0</span> seconds<br />
      <div>
        <button type="button" onclick="window.location.reload(true);">Play Again</button>
      </div>
    </div>
  </div>
</div>
