.mainBody {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #E1E8EE;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid gray;
  width: 90%;
  font-family: sans-serif cursive;
  font-weight: bolder;
  text-transform: uppercase;
}

.actionButtonContainer {
  display: flex;
  column-gap: 10%;
  position: relative;
}

.restart {
  position: absolute;
  right: 47%;
  top: 24%;
  cursor: pointer;
}

.actionButton {
  height: 48px;
  width: 200px;
  border-radius: 10px;
}


#collage #sortable {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  padding: 0;
  width: 400px;
}

#collage #sortable li {
  background-size: 400% 400%;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  float: left;
  width: 100px;
  height: 100px;
}

.sortImage {
  width: 150px;
  height: 150px;
}

.scoreCard {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.logOutButton {
  position: absolute;
  right: 5%;
  top: 4.6%;
  cursor: pointer;
}

.userButton {
  position: absolute;
  left: 5%;
  top: 4.6%;
  cursor: pointer;
}
